.carousel {
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .carousel-btn {
    .right {
      right: 0;
    }

    .prev,
    .next {
      top: 50%;
      opacity: 0;
      color: #fff;
      margin-top: -20px;
      position: absolute;
      border-radius: 15rem;
      padding: 0.5rem 0.7rem;
      transition: opacity 1s ease;
      background-color: var(--primary-color);

      ion-icon {
        font-size: 18px;
      }
    }
  }

  &:hover {
    .prev,
    .next {
      opacity: 1;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
  }
}
