.contact {
  .input-group {
    .input-control {
      background: #fff;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      font-weight: 400;
      font-size: 16px;
      color: #888;
      letter-spacing: 0.11px;
      width: 420px;
      height: 50px;
      padding: 0 30px;
    }

    button {
      background: #ef0000;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      height: 50px;
      width: 170px;
			margin-left: 10px;
			border: none;

    }
  }
}
