@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap");

:root {
	--blue: #313B8C;
	--orange: #E69318;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #efefef;
  font-family: "Nunito Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
}
