nav {
  background-color: var(--primary-color);

  .navbar-brand {
    color: #fff;
    font-weight: 600;
  }

  .nav-link {
    color: #fff;
		font-weight: 600;
    text-decoration: none;
  }

  .icons {
    color: #333;
    display: flex;
    font-size: 23px;
    cursor: pointer;
    align-self: center;
  }
}
